{% extends "layout.html" %} {% block title %}To-Do App{% endblock %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <table BORDER=1 WIDTH="100%" CELLPADDING="4" CELLSPACING="3">
                {% if view_model.todo_items %}
                <tr ALIGN="center">
                    <th COLSPAN="100" WIDTH="50%" CELLPADDING="4" CELLSPACING="3">
                        <br>
                        <h1>Backlog</h1>
                        <p>Date and Time for Today: <span id="datetime"></span></p>
                    </th>
                </tr>
                <tr ALIGN="center ">
                    <th>Title</th>
                    <th>Current Status</th>
                    <th>Move to In progress</th>
                    <th>Move to done</th>
                    <th>Delete</th>
                </tr>
                {% for item in view_model.todo_items %}
                <tr>
                    <td ALIGN="CENTER">{{ item.title }}</td>
                    <td ALIGN="CENTER">{{ item.status }}</td>
                    <td ALIGN="CENTER">
                        <form action="/in_progress " method="post">
                            <input hidden type=text name="inprogress" value="{{item.id}}">
                            <button type="submit " name="inprogress ">In Progress</button>
                        </form>
                    </td>
                    <td>
                        <form ALIGN="CENTER" action="/complete_item " method="post">
                            <input hidden type=text name="id" value="{{item.id}}">
                            <button type="submit " name="Done ">Done</button>
                        </form>
                    </td>
                    <td>
                        <form ALIGN="CENTER" action="/delete_card" method="post">
                            <input hidden type=text name="delete_card" value="{{item.id}}">
                            <button type="submit" name="deleting_card_form"> Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            <br>
            <table BORDER=1 WIDTH="100%" CELLPADDING="4" CELLSPACING="3">
                {% if view_model.doing_items %}
                <tr ALIGN="center">
                    <th COLSPAN="100" WIDTH="50%" CELLPADDING="4" CELLSPACING="3">
                        <br>
                        <h1>In Progress</h1>
                        <p>Date and Time for Today: <span id="datetime"></span></p>
                    </th>
                </tr>
                <tr ALIGN="center ">
                    <th>Title</th>
                    <th>Current Status</th>
                    <th>Move to In progress</th>
                    <th>Move to done</th>
                    <th>Delete</th>
                </tr>
                {% for item in view_model.doing_items %}
                <tr>
                    <td ALIGN="CENTER">{{ item.title }}</td>
                    <td ALIGN="CENTER">{{ item.status }}</td>
                    <td ALIGN="CENTER">
                        <form action="/in_progress " method="post">
                            <input hidden type=text name="inprogress" value="{{item.id}}">
                            <button type="submit " name="inprogress ">In Progress</button>
                        </form>
                    </td>
                    <td>
                        <form ALIGN="CENTER" action="/complete_item " method="post">
                            <input hidden type=text name="id" value="{{item.id}}" />
                            <button type="submit " name="Done ">Done</button>
                        </form>
                    </td>
                    <td>
                        <form ALIGN="CENTER" action="/delete_card" method="post">
                            <input hidden type=text name="delete_card" value="{{item.id}}">
                            <button type="submit" name="deleting_card_form"> Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            <br>
            <table BORDER=1 WIDTH="100%" CELLPADDING="4" CELLSPACING="3">
                {% if view_model.done_items %}
                <tr ALIGN="center">
                    <th COLSPAN="100" WIDTH="50%" CELLPADDING="4" CELLSPACING="3">
                        <br>
                        <h1>Completed</h1>
                        <p>Date and Time for Today: <span id="datetime"></span></p>
                    </th>
                </tr>
                <tr ALIGN="center ">
                    <th>Title</th>
                    <th>Current Status</th>
                    <th>Move to In progress</th>
                    <th>Move to done</th>
                    <th>Delete</th>
                </tr>
                {% for item in view_model.done_items %}
                <tr>
                    <td ALIGN="CENTER">{{ item.title }}</td>
                    <td ALIGN="CENTER">{{ item.status }}</td>
                    <td ALIGN="CENTER">
                        <form action="/in_progress " method="post">
                            <input hidden type=text name="inprogress" value="{{item.id}}">
                            <button type="submit " name="inprogress ">In Progress</button>
                        </form>
                    </td>
                    <td>
                        <form ALIGN="CENTER" action="/complete_item " method="post">
                            <input hidden type=text name="id" value="{{item.id}}" />
                            <button type="submit " name="Done ">Done</button>
                        </form>
                    </td>
                    <td>
                        <form ALIGN="CENTER" action="/delete_card" method="post">
                            <input hidden type=text name="delete_card" value="{{item.id}}">
                            <button type="submit" name="deleting_card_form"> Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3 class="display-5 text-left" style="color:rgb(206, 51, 40)">Completed Items</h3>
            <p> 0 items complete. Well done. When will you finish your tasks?! </p>
            {% endif %}
            <br>
        </div>
    </div>
    <form action="/newitem " method="post">
        <p>Add a todo item</p>
        <p><input type=text name="todo" /></p>
        <p><input type=submit value="Add item " /></p>
    </form>
</div>
<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
{% endblock %}